* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #eff8e2;
  position: relative;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  background-color: #fff;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

.navbar {
  background-color: #00993b !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  padding: 20px 30px;
}

.navbar-light .navbar-brand {
  color: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}

.btn-outline-success {
  color: #fff !important;
  border-color: transparent !important;
}

section {
    padding: 20px;
    width: 1280px;
    margin: 40px auto;
}

section ul {
    display: flex;
    margin-bottom: 10px;
}

section ul li {
    list-style: none;
    background-color: #a3a3a3;
    padding: 8px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

.categories {
    margin-top: 20px;
}

.categories .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.categories .container .categories-nav {
    display: flex !important;
    flex-direction: column;
    height: auto;
    flex-wrap: wrap;
}

.categories .container .categories-nav .categories-nav-container {
    display: flex;
    justify-content: center;
}

.categories-nav-container ul {
    margin: 0 auto 15px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
}

.categories-nav-container ul li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 3px 10px 3px;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}

.categories-nav-container #filter1:hover,
.categories-nav-container #filter1.active {
  background: red;
}

.categories-nav-container #filter2:hover,
.categories-nav-container #filter2.active {
  background: green;
}

.categories-nav-container #filter3:hover,
.categories-nav-container #filter3.active {
  background: orange;
}

.categories-nav-container #filter4:hover,
.categories-nav-container #filter4.active {
  background: purple;
}

.categories-nav-container li:hover,
.categories-nav-container li.active {
  background: #00aeff;
}

.product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.product > div {
    margin: auto;
}

.product .itemBox {
    position: relative;
    margin: 5px;
}

.product .itemBox .card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*form*/
form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}



textarea {
  width: 500px;
  height: 58px;
  border-radius: 5px;
  border: solid 2px #828282;
  resize: none;
  overflow: hidden;
  min-height: 20px;
  max-height: 100px;
  
}